{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CheryMeet</title>
  <link rel="stylesheet" type="text/css" href={% static "css/profile.css"%}>
</head>
<body>
  <header>
  <h1>CheryMeet</h1>
    <div>
      <i class="profile-icon">Profile</i>
      <i class="settings-icon">Settings</i>
      <i class="exit-icon">Exit</i>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="#">VPN</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Files</a></li>
      <li><a href="#">Chat</a></li>
    </ul>
  </nav>
</body>
</html>
